@import "import/links.css";
@import "import/variables.css";

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf") format("truetype");
    
}

body {
    font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

h2 {
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600; 
    font-size: 15px;
}
.main-header {
    background: #bac5cf;
    display: flex;
    align-items: center;
}
.sub-header, 
footer {
    background: #1d2540;
} 

.sub-header { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav { 
    margin-left: 25px;
    display: none;
    position: fixed;
    z-index: 1000;
    right: 0px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
}

.logo img {
    width: 135px;
    height: 85px;
}


#hamburger.menu {
    display: none;
}

#hambuerger-menu:checked ~ nav {
    display: block;
}